<!-- Config file for the game -->

<config>
  <app>
    <title>Buff Manager</title>
  </app>
	
  <renderer>
    <vsync value="true"/>
  </renderer>

  <window>
    <resolution width="1024" height="720" scale="5"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="true"/>
    <fullscreen_window value="false"/>
  </window>

  <entity>
    
    <entity type ="character" x="40" y="119">
      <name value="dwarf"/>
      <pos x ="0" y="0"/>
      <spritesheet path="Assets/Dwarf_Sprite_Sheet1.2v.png"/>
      <animation>
        <frame x="3" y="11" w="28" h="19"/>
      </animation>
      <health value ="20"/>
      <stats>
        <stat stat="attack" value ="10"/>
        <stat stat="defense" value ="3"/>
      </stats>
    </entity>
    
    <entity type ="character" x="100" y="119">
      <name value="goblin"/>
      <pos x ="0" y="0"/>
      <spritesheet path="Assets/Imp Sprite Sheet.png"/>
      <animation>
        <frame x="170" y="212" w="15" h="12"/>
      </animation>
      <health value ="20"/>
      <stats>
        <stat stat="attack" value ="10"/>
        <stat stat="defense" value ="3"/>
      </stats>
    </entity>
    
  </entity>

  <buff>
    <spell name="rage">
      <atlas_icon row ="0" column="4"/>
      <buff stat  ="attack" value ="3" type ="additive"/>
      <buff stat ="defense" value="3" type="additive"/>
    </spell>
    <!--
    <item name = "sword">
      <buff stat ="attack" value="3" type="additive"/>
      <buff stat ="defense" value="3" type="addtitive"/>
    </item>
    -->
  </buff>

</config>